
.navbar {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);

  height: 4rem;
  width: 100%;
  padding: 1rem 10rem;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
  justify-content: space-between;
}


.logo {
  object-fit: cover;
  height: 3rem;
  width: 4rem;
}

.menuItem {
  margin: 1rem;
  color: white;
  cursor: pointer;
}

.menuItem:hover {
  color: cadetblue;
  padding-bottom: 0.3rem;
  border-bottom: 3px solid cadetblue;
}

.menuBtn {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); 

  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.menuBtn:hover {
  background: rgba(255, 255, 255, 0.3);
}


.menuIcon {
  object-fit: cover;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0.5rem;
}

.active {
  color: cadetblue;
  padding-bottom: 0.3rem;
  border-bottom: 3px solid cadetblue;
}

.mobileMenu{
  position:absolute;
  top:4rem;
  right:2rem;
  z-index:2;
  display:flex;
  flex-direction:column;
  padding: 0.5rem;
  height:fit-content;
  min-width: 10rem;
  background-color: rgb(40, 40, 40);
  border-radius: 1 rem;
  align-items: center;
}

.mobMenu{
  display: none;
}

.listItem{
  color:white;
  padding:0.5rem 3rem;
  margin:0.25rem;
}


@media screen and (max-width:720px) {
  .mobMenu{
    display: flex;
  }
  .desktopMenu{
    display: none;
  }
  .menuBtn{
    display:none;
  }
}